.contents{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    justify-content: center;
    background-color: rgb(250, 250, 250);
    display: flex;
}
/*
Category Navigation
*/
.navi{
    display: flex;
}
.naviitem{
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 160px;
    align-item: center;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.naviimg{
    width: 140px;
    height: 140px;
}
.navitext{
    margin-top: 6px;
    font-size: 14px;
}
.naviitem:hover{
    cursor: pointer;
    .naviimg{
        transform: scale(102%);
    }
}
/*
Item Definitions
*/

.box{
    flex: 1;
    background-color: white;
    border-radius: 10px;
    

}
.multiboxrow{
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
    column-gap: 20px;
}

.boxhead{
    display: flex;
    padding-top: 20px;
    padding-bottom: 16px;
    margin-left: 30px;
    margin-right: 30px;
}
.boxname{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 25px;
}
.boxnamesmall{
    flex: 1;
    font-size: 20px;
    font-weight: 600;
}

.viewmore{
    font-size: 14px;
    font-weight: 700;
    opacity: .5;
    cursor: pointer;
}
.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    position: relative;
}
.item:hover{
    .itemimgsmall,
    .itemimgmedium,
    .itemimglarge{
        transform: scale(102%);
        transition: 500ms;    
    }
}
.itemimgsmall{    
    width: 120px;
    height: 120px;
    padding: 10px;
    transition: 500ms ;
}
.itemimgmedium{    
    width: 140px;
    height: 140px;
    padding: 10px;
    transition: 500ms ;
}
.itemimglarge{
    width: 160px;
    height: 160px;
    padding: 10px;
    transition: 500ms ;
}
.model{
    padding-top: 10px;
    font-size: 14px;
    font-weight: 600;
}
.specs{
    font-size: 12px;
    padding-top: 10px;
    color: rgb(102, 102, 102);
}
.price{
    padding-top: 10px;
    color: rgb(230, 70, 46);
}
.pricenorm{
    text-decoration:line-through;
    color: rgb(102, 102, 102);
}



.subsect{
    position: relative;
    padding-top: 40px;
    max-height: 340px;

}

.subhead{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 25px;
}

.subsectimgbox{
    position: relative;
    width: 100%;
    
    border-radius: 10px;
    overflow: hidden;
    
}
.subsectimg{
    width: 100%;
    transition: 500ms ;

    border-radius: 10px;

}
.subsectimg:hover{
    cursor: pointer;
    transform: scale(105%);
    transition: 500ms ;
    overflow: hidden;
    
}
.subsectmulti{
    display: flex;
    column-gap: 20px;

}
.subsectvertical{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    

}
.withtext{

}