.contents{
    position: relative;
    display: flex;
    flex-direction: column;
    width: 1200px;
    justify-content: center;
    display: flex;
}
.section{
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin-bottom: 60px;
    width: 1200px;
    min-width: 100px;

}
.sectionname{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 25px;

}

/*
Category Navigation
*/

.navi{
    

    display: flex;
    margin-bottom: 20px;
}
.naviitem{
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 160px;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;

}
.naviimg{
    width: 140px;
    height: 140px;
    align-items: center;
    transition: 500ms;

}
.navitext{
    margin-top: 6px;
    font-size: 14px;
    text-align: center;
}
.naviitem:hover{
    cursor: pointer;
    .naviimg{
        transform: scale(105%);
        transition: 500ms;
    }
}

/*
Item Definitions
*/

.boxmulti{
    display: flex;
    background-color: rgb(246, 246, 246);
    column-gap: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 1200px;

}
.box{
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 10px;
    flex: 2;
    
}
.boxelements{
    display: flex;
}
.boxvertical{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    border-radius: 10px;
    width: 100%;
    height: 100%;

}
.box:hover{
    .boximg{
        cursor: pointer;
        transform: scale(105%);
        transition: 500ms ;
    }
}
.boxhead{
    display: flex;
    padding-bottom: 16px;
    margin-left: 30px;
    margin-right: 30px;
    width: 100%;
    justify-content: space-between;

}
.boxnamesmall{
    padding-top: 20px;

    font-size: 20px;
    font-weight: 600;
}
.viewmore{
    font-size: 14px;
    font-weight: 700;
    opacity: .5;
    padding-top: 20px;

    margin-right: 50px;
    cursor: pointer;
}
.boximg{
    width: 100%;
    height: 100%;
    transition: 500ms ;
}
.item{
    display: flex;
    background-color: white;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    flex: 1;
    width: 100%;
    min-height: 320px;
}
.elementitem{
    display: flex;
    background-color: white;
    flex-direction: column;
    text-align: center;
    align-items: center;
    cursor: pointer;
    border-radius: 10px;
    flex: 1;
    width: 100%;

}
.itemside{
    flex-direction: row;
}
.sidecontents{
    display: flex;
    background-color: white;
    flex-direction: column;
    text-align: left;
    cursor: pointer;
    border-radius: 10px;
    margin-left: 40px;
    width: 100%;
}
.item:hover,.elementitem:hover{
    .itemimg{
        transform: scale(105%);
        transition: 500ms;    
    }
}
.offer{
    background-color: red;
    color: white;
    border-radius: 12px;
    width: fit-content;
    padding: 4px;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 12px;
    line-height: 12px;
}
.itemimg{
    transition: 500ms ;
    width: fit-content;
    margin: 10px;
}
.imgsmall{    
    width: 120px;
    height: 120px;
    
}
.imgmedium{    
    width: 140px;
    height: 140px;
}
.imglarge{
    width: 160px;
    height: 160px;
}
.imgxlarge{
    width: 220px;
    height: 220px;
}
.model{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
}
.sidemodel{
    margin-top: 10px;
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 8px;
}
.specs{
    font-size: 16px;
    margin-top: 10px;
    color: rgb(102, 102, 102);
    opacity: .5;
}
.specssmall{
    font-size: 12px;
    margin-top: 10px;
    color: rgb(102, 102, 102);
    opacity: .5;
}
.sidespecs{
    font-size: 14px;
    margin-top: 10px;
    color: rgb(102, 102, 102);
}
.specbox{
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-items: center;
    align-items: left;
    border-radius: 10px;        
    width: 100%;
    height: 100%;
}

.price{
    color: rgb(102, 102, 102);
    font-family: 600;
    font-size: 12px;
}
.pricehotsmall{
    padding-top: 10px;
    color: rgb(230, 70, 46);
    font-weight: 600;
    font-size: 14px;
}
.pricecutsmall{
    font-size: 14px;
    text-decoration:line-through;
    color: rgb(102, 102, 102);
}
.sideprice{
    font-size: 12px;
    margin-top: 70px;
    font-weight: 600;

    color: rgb(102, 102, 102);
}

.pricehot{
    padding-top: 10px;
    color: rgb(230, 70, 46);
    font-weight: 600;
    font-size: 16px;
}
.pricecut{
    font-size: 12px;
    text-decoration:line-through;
    color: rgb(102, 102, 102);
}

.brandcontent{
    position: absolute;
    z-index: 3;
    margin-top: 40px;
    margin-left: 40px;
    cursor: pointer;



}
.brandtitle{
    font-size: 36px;
    font-weight: 600;
    color: white;

}
.branddesc{
    font-size: 14px;
    font-weight: 500;
    color: white;
    margin-top: 14px;

}
.brandviewmore{
    position: relative;
    font-size: 14px;
    font-weight: 500;
    color: white;
    top: 170px;
    cursor: pointer;
}
