.contents{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    justify-content: center;
}
.contents{
    background-color: rgb(250, 250, 250);
    display: flex;
}
.category{
    height: 203px;
    display: flex;
}
.categoryitem{
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 160px;
    align-items: center;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
}
.categoryimg{
    width: 140px;
    height: 140px;
}
.categorytext{
    margin-top: 6px;
    font-size: 14px;
}



.recommend{
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
    column-gap: 20px;
    

}
.recommendsect{
    flex: 1;
    background-color: white;
    border-radius: 10px;

}
.recommendheading{
    display: flex;
    padding-top: 20px;
    padding-bottom: 16px;
    margin-left: 30px;
    margin-right: 30px;

}
.recommendtitle{
    flex: 1;
    font-size: 20px;
    font-weight: 600;


}
.viewmore{
    font-size: 14px;
    font-weight: 700;
    opacity: .5;
    cursor: pointer;

}
.recommenditems{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    position: relative;
    

}

.recommendimage{
    position:sticky;
    
    width: 120px;
    height: 120px;
    padding: 10px;
    transition: 500ms ;


}
.model{
    padding-top: 10px;
    font-size: 14px;
    font-weight: 600;

}



.specs{
    font-size: 12px;
    padding-top: 10px;
    color: rgb(102, 102, 102);

}
.itemprice{
    padding-top: 10px;
    color: rgb(230, 70, 46);
}
.itemregular{
    text-decoration:line-through;

}
.recommenditems:hover{
    .recommendimage{
        padding: 5;
        width: 130px;
        height: 130px;
        transition: 500ms;
    
    }
}


.subsect{
    position: relative;
    padding-top: 40px;
}

.subhead{
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 25px;
}

.subsectimgbox{
    position: relative;
    width: 100%;
    
    border-radius: 10px;
    overflow: hidden;
    
}
.subsectimg{
    width: 100%;
    transition: 500ms ;

    border-radius: 10px;

}
.subsectimg:hover{
    cursor: pointer;
    transform: scale(105%);
    transition: 500ms ;
    overflow: hidden;
    
}
.subsectmulti{
    display: flex;
    column-gap: 20px;

}
.subsectvertical{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    

}
.withtext{

}