.contents{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    justify-content: center;
    display: flex;
}


/*
Category Navigation
*/
.navi{
    display: flex;
    margin-bottom: 20px;
}
.naviitem{
    flex: 1;
    display: flex;
    flex-direction: column;
    width: 170px;
    height: 160px;
    padding-top: 20px;
    padding-left: 5px;
    padding-right: 5px;
    align-items: center;

}
.naviimg{
    width: 140px;
    height: 140px;
    align-items: center;
}
.navitext{
    margin-top: 6px;
    font-size: 14px;
    text-align: center;
}
.naviitem:hover{
    cursor: pointer;
    .naviimg{
        transform: scale(102%);
    }
}

/*
Item Definitions
*/
.section{
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin-bottom: 30px;
    width: 100%;
    height: 100%;
}
.sectionname{
    font-size: 24px;
    margin-top: 20px;
    font-weight: 600;
    margin-bottom: 25px;
}
.boxmulti{
    display: flex;
    background-color: rgb(246, 246, 246);
    column-gap: 20px;
    border-radius: 10px;
    width: 100%;

}
.box{
    flex: 3;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    width: 100%;
    border-radius: 10px;
    min-width: 270px;
}
.boxvertical{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    border-radius: 10px;
    width: 100%;
    height: 100%;

}
.box:hover,.boxvertical:hover{
    .boximg{
        cursor: pointer;
        transform: scale(105%);
        transition: 500ms ;
    }
}
.boxhead{
    display: flex;
    padding-bottom: 16px;
    margin-left: 30px;
    margin-right: 30px;
    width: 100%;
    justify-content: space-between;

}
.boxnamesmall{
    padding-top: 20px;

    font-size: 20px;
    font-weight: 600;
}
.viewmore{
    font-size: 14px;
    font-weight: 700;
    opacity: .5;
    padding-top: 20px;

    margin-right: 50px;
    cursor: pointer;
}
.boximg{
    width: 100%;
    transition: 500ms ;
}
.item{
    display: flex;
    background-color: white;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 20px;
    border-radius: 10px;
}
.item:hover{
    .itemimg{
        transform: scale(102%);
        transition: 500ms;    
    }
}
.offer{
    background-color: red;
    color: white;
    border-radius: 12px;
    width: fit-content;
    padding-left: 8px;
    padding-right: 8px;
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 10px;
}
.itemimg{
    transition: 500ms ;
}
.imgsmall{    
    width: 120px;
    height: 120px;
    
}
.imgmedium{    
    width: 140px;
    height: 140px;
}
.imglarge{
    width: 160px;
    height: 160px;
}
.imgxlarge{
    width: 220px;
    height: 220px;
}
.model{
    margin-top: 10px;
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 8px;
}
.specs{
    font-size: 12px;
    margin-top: 10px;
    color: rgb(102, 102, 102);
}
.specbox{
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    justify-items: center;
    align-items: left;
    border-radius: 10px;        
    width: 100%;
    height: 100%;
}

.price{
    color: rgb(102, 102, 102);
}
.pricehot{
    padding-top: 10px;
    color: rgb(230, 70, 46);
    font-weight: 600;
}
.pricecut{
    text-decoration:line-through;
    color: rgb(102, 102, 102);
}