.headad{
    position: relative;
    display: flex;
    height: 44px;
    align-items: center;
    background-color: rgb(28, 27, 27);
}
.headad{
    display: none;
}
.adicon{
    width: 32px;
    height: 32px;
    margin-left: 30px;
}
.adtext{
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: 300;
}
.openapp{
    width: 72px;
    height: 24px;
    font-size: 10px;
    border-end-end-radius: 12px;
    border-start-end-radius: 12px;

}
.openapp:hover{
    background-color: rgb(255, 201, 21);
}


.head1,.head2,.headersmall{
    position: relative;
    margin: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    height: 36px;
    justify-content: space-between;
    color: rgb(102, 102, 102);
}
.headersmall,.headerbig{
    background-color: white;
    width: 100%;
}
@media(max-width: 799px){
    .headerbig{
        display: none;
    }
}
.dropbutton:hover{
    cursor: pointer;

}
.headsection{
    display: flex;
    position: sticky;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
}
.head1option{
    font-size: 12px;
    padding: 14px;
}
.headoptiontext{
    cursor: pointer;
}
.head2{
    height: 60px;
    position: sticky;
    background-color: white;
}
.noscroll{
    position: sticky;
    top: 0px;
    z-index: 100;
    width: 100%;
}
.head2option{
    font-size: 14px;
    padding: 10px;

}
.head1option:hover,.head2option:hover,.dropbutton:hover{
    color: rgb(255, 201, 21);
}
.headsearch{
    width: 30px;
}

.headersmall{
    display: flex;
    width: 328px;
    height: 44px;
    margin: auto;
}
@media(min-width: 799px){
    .headersmall{
        display: none;
    }
}
.headsmalllogo{
    width: 74px;
    height: 22px;
    cursor: pointer;
}
.headsmalluser{
    width: 30px;

}
.headsmalloptions{
    width: 30px;
    margin-left: 10;
}
.dropdown{
    position: static;

}
.dropbutton{
    font-size: 14px;
    padding: 10px;
    background-color: transparent;
    border-style: none;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: white;
    z-index: 10;
    transition: 500ms;
    width: 100px;
    height: max-content;
    background-color: white;
}
.dropdown-content a{
    color: black;
    text-decoration: none;
    display: block;

}
.dropdown-content a:hover{
    color: rgb(255, 201, 21);

    
}
.dropdown:hover .dropdown-content{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    transition: 500ms;
    width: 1400px;
    position:absolute;
    left: -70%;
    padding: 40px;
    padding-left: 30%;
    height: max-content;
    background-color: white;
    
  }
.dropleft{
    width: 260px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: start;
    align-items: start;
    font-weight: 600;
}
.bold{
    font-weight: 700px;
}
.dropoption{
    justify-content: end;
}
.dropright{
    display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 1200px;
    transition: 500ms;
    position:absolute;
    overflow:auto;
    position: absolute;
    left: 400px;
    height: max-content;
    background-color: white;
}
.dropbox{
    width: 300px;
    height: max-content;
    display: flex;
    background-color: white;
    margin: 20px;
    margin-right: 0;
    gap: 10px;
}
.dropbox:hover{
    cursor: pointer;
}
.dropbox img{
    width: 80px;
    height: 80px;
}
.new{
    background-color: rgb(34, 34, 34);
    border-radius: 4px;
    cursor: pointer;
    font-size: 12px;
    color: white;
    height: 16px;
    line-height: 16px;
    padding: 0 4px;
}
.dropmodel{
    font-size: 14px;
    font-weight: 600;
}
.dropspecs{
    font-size: 12px;
    margin-top: 2px;
    color: rgb(102, 102, 102);
    opacity: .5;

}
.dropprice{
    position: absolute;
    font-size: 12px;
    font-weight: 600;
    margin-top: 14px;

    color: rgb(102, 102, 102);
}

    