.headad{
    display: flex;
    height: 44px;
    align-items: center;
    background-color: rgb(28, 27, 27);
}
.headad{
    display: none;
}
.adicon{
    width: 32px;
    height: 32px;
    margin-left: 30px;
}
.adtext{
    color: white;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif ;
    font-weight: 300;
}
.openapp{
    width: 72px;
    height: 24px;
    font-size: 10px;
    border-end-end-radius: 12px;
    border-start-end-radius: 12px;

}
.openapp:hover{
    background-color: rgb(255, 201, 21);
}


.head1,.head2,.headersmall{
    margin: auto;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 36px;
    justify-content: space-between;
    color: rgb(102, 102, 102);
}
@media(max-width: 799px){
    .headersbig{
        display: none;
    }
}
.headoptiontext:hover{
    cursor: pointer;

}
.headsection{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-shrink: 0;
}
.head1option{
    font-size: 12px;
    padding: 14px;
}
.head2{
    height: 60px;
}
.head2option{
    font-size: 14px;
    padding: 10px;

}
.head1option:hover,.head2option:hover{
    color: rgb(255, 201, 21);
}
.headsearch{
    width: 30px;
}

.headersmall{
    display: flex;
    width: 328px;
    height: 44px;
    margin: auto;
}
@media(min-width: 799px){
    .headersmall{
        display: none;
    }
}
.headsmalllogo{
    width: 74px;
    height: 22px;
}
.headsmalluser{
    width: 30px;

}
.headsmalloptions{
    width: 30px;
    margin-left: 10;
}