.amazon-footer {
  background-color: rgb(35 47 62);
  color: white;
  padding: 50px;
  padding-left: 15px;
  padding-right: 15px;

  display: flex;
  flex-direction: column;

  left: 0;
  right: 0;
  z-index: 100;
}
.foot-1{
  

  font-size: 14px;
  padding: 50px;
  justify-content: space-between;

}
.foot1-container{
  margin-bottom: 20px;
}
.foot1-head{
  font-size: 16px;
  color: white;
  font-weight: 600;
  margin-bottom: 6px;
  width: max-content;

}
.foot1-sect{
  display: block;
  color: rgb(221 221 221);
  margin-bottom: 4px;
  width: max-content;
  height: max-content;
}
.foot1-sect:hover{
  color: rgb(221 221 221);
  
}
.subscription{
  margin-right: 30px;
}
.form-group{
  width: 100%;
  max-width: 400px;
}
.sub-btn{
  background-color: rgb(254, 189, 105);
  border: none;
  height: 38px;
  border-radius: 4px;
  flex-shrink: 0;
  margin-bottom: 50px;
  padding: 20px;
  font-weight: 600;
  padding-top: 10px;
}
.locations {
  background-color: rgb(35 47 62);
  color: white;
  margin-top: 20px;
  padding-top: 50px;
  padding-left: 15px;
  padding-right: 15px;
  
  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;

  left: 0;
  right: 0;
  z-index: 100;
  border-top-style: solid;
  border-top-width: 1px;
  border-color: grey;
  width: 100%;
}
.location-list{
  justify-content: center;
}
.location-items{
  font-size: 12px;

  color: white;
  display: inline;
  margin: 2px
}
.location-items:hover{
  color: white;
}
.no-hide{
  display: block;
}