
.header{
    display: inline-block;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    background-color: white;
    padding-top: 5px;
    z-index: 100;
    
}
.leftsect{
    display: flex;
    align-items: center;
}
.middlesect{
    display: flex;
    align-items: center;
    flex: 1;
    justify-content: center;
    height: 40px;
    margin: 0;
}
.rightsect{
    margin-right: 40px;
    display: flex;
    align-items: center;
}
.ham{
    border-radius: 50%;

    width: 24px;
    padding: 11px;
}
.ham:hover{
    background-color: rgb(238, 238, 238);
    border-radius: 50%;
    cursor: pointer;
    transition:  200ms;

}
.yt{
    width: 90px;
    height: 20px;
    padding: 15px;
}
.yt:hover{
    cursor: pointer;
    transition:  200ms;

}
.searchinput{
    height: 36px;
    flex: 1;
    max-width: 500px;
    font-size: 16px;
    padding-left: 16px;
    border-width: 1px;
    border-color: rgb(204, 204, 204);
    border-start-start-radius: 20px;
    border-end-start-radius: 20px;
    box-shadow: inset 1px 2px 3px rgba(0, 0, 0,.05);
    width: 0;

}
.searchinput::placeholder{
    font-family: Roboto,Arial;
    font-size: 16px;

}
.searchbutton{
    width: 64px;
    height: 38px;
    border-start-end-radius: 20px;
    border-end-end-radius: 20px;
    border-width: 1px;
    border-color: rgb(214, 214, 214);
    
}
.searchbutton:hover{
    background-color: rgb(232, 230, 230);
    cursor: pointer;
    transition:  200ms;


}
.searchicon{
    width: 24px;

}
.micbutton{
    height: 40px;
    width: 40px;
    border-radius: 50%;
    margin: 15px;
    border-width: 0px;
    

}
.micbutton:hover{
    background-color: rgb(212, 212, 212);
    cursor: pointer;
    transition:  200ms;
    
}
.micicon{
    width: 24px;

}
.creator{
    display: flex;
    align-items:center;
    width: 40px;
    height: 40px;
}
.creator:hover{
    background-color: rgb(238, 238, 238);
    border-radius: 50%;
    cursor: pointer;
    transition:  200ms;
}
.creatori{
    flex:1;
    width: 24px;
    height: 24px;
}
.notif{
    display: flex;
    align-items: center;
    width: 40px;
    height: 40px;
    position: relative;
}
.notif:hover{
    background-color: rgb(238, 238, 238);
    border-radius: 50%;
    cursor: pointer;
    transition:  200ms;
}
.notifi{
    flex: 1;
    width: 24px;
    height: 24px;
    padding-right: 2px;
}
.notifnum{
    width: fit-content;
    background-color: rgb(204, 0, 0);
    padding: 2px;
    color: white;
    font-size: 11px;
    border-radius: 10px;
    padding-left: 4px;
    padding-right: 4px;
    position: absolute;
    left: 18px;
    top: -4px;
}
.avatar{
    display: grid;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin-left: 6px;
}
.avatar:hover{
    border-radius: 50%;
    cursor: pointer;
    transition:  200ms;
}
.avatari{
    flex:1;
    width: 32px;
    height: 32px;
    border-radius: 50%;
}