.box{
    display: grid;
    grid-template-columns: 40px 1fr;


}
.guide{
    width: 40px;
}
.vflex{
    display: grid;
    column-gap: 8px;
    row-gap: 40px;
    grid-template-columns: 1fr;
}
@media(min-width: 730px){
    .vflex{
        grid-template-columns: 1fr  1fr;
    }
}
@media(min-width: 950px){
    .vflex{
        grid-template-columns: 1fr  1fr 1fr;
    }
}
@media(min-width: 1170px){
    .vflex{
        grid-template-columns: 1fr 1fr  1fr 1fr;
    }
}

.tcontainer{
    min-width: 270px;
}
.timage{
    width: 100%;
    border-radius: 10px;
}
.tinfo{
    display: grid;
    grid-template-columns: 34px 1fr;
    column-gap: 5px;
}
.tprofile{
    vertical-align: top;
    margin-top: 4px;
    display: inline-block;
    width: 100%;
    border-radius: 50%;
}
.ttitle{
    font-size: 16px;
    font-weight:500;
    line-height: 22px;
    margin-top: 10px ;
    max-height: 44px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.tstats{
    font-size: 14px;
    font-weight: 400;
    color: rgb(87, 87, 87);
}